@()

<script id="members-layout" type="text/html">
    <div class="container">
        <div class="row" ui-id="alert-messages"></div>
        <div class="row">
            <div class="span12" ui-id="member-requests"></div>
        </div>
        <div class="row">
            <div class="span12" style="padding-bottom:50px">&nbsp;</div>
        </div>
        <div class="row">
            <div class="span12" ui-id="active-members"></div>
        </div>
    </div>
</script>



<script id="members-header" type="text/html">
    <div class="container" ui-id="header">
        <div class="row">
            <div class="span4"><h3>{{header}} <small>(<span ui-id="totals">&nbsp;</span>)</small></h3></div>
            <div class="span2 admin-sortby">Ordenar por:</div>
            <div class="span3">
                <ul class="nav nav-pills">
                    <li class="">
                        <a href="#" ui-id="sort-by-name"><i class=""></i>Nome</a>
                    </li>
                    <li><a href="#" ui-id="sort-by-company"><i class=""></i>Empresa</a></li>
                </ul>
            </div>
            <div class="span3">
                <div class="form-search">
                    <input type="text" class="search-query span3" placeholder="{{search_hint}}" ui-id="find"><div class="icon-search"></div></input>
                </div>
            </div>
        </div>
    </div>
</script>




<!-- User Requests -->
<!------------------->
<script id="request-garage" type="text/html">
    <div class="container admin-content"  ui-id="content">
        <div class="row">
            <div class="span2">
                <div><i class="toggle expand" ui-id="expand-collapse"></i><span style="padding-left:5px">{{ company }}</span></div>
            </div>
            <div class="span2"><strong>{{name}}</strong></div>
            <div class="span2">{{email}}</div>
            <div class="span2 admin-members-date">{{requested_timeago}}</div>
            <div class="span1">
                <button class="btn" ui-data="{{_id}}">Aprovar</button>
            </div>
            <div class="span3">
                <a href="#" ui-data="{{_id}}" ui-id="reject">Declinar</a>
            </div>
        </div>
    </div>
</script>

<script id="request-contacts" type="text/html">
    <div class="container hide" style="padding-top:1px" ui-id="row">
        <div class="row">
            <div class="span6" style="text-indent:25px"><i class="x-icon-direction"></i> {{address}}, {{postalCode}} - {{city}}</div>
            <div class="span2"><i class="x-icon-iphone"></i> {{phoneNumber}}</div>
        </div>
    </div>
</script>




<!-- Active users -->
<!------------------->
<script id="members-garage" type="text/html">
    <div class="container admin-content"  ui-id="content">
        <div class="row">
            <div class="span2">
                <div><i class="toggle collapse" ui-id="expand-collapse"></i><strong style="padding-left:5px">{{ company }}</strong></div>
            </div>
            <div class="span4 "><i class="x-icon-direction"></i> {{street}}, {{postalCode}} - {{city}}</div>
            <div class="span1">{{phoneNumber}}&nbsp;</div>
            <div class="span1"><strong><i class="icon-tag"></i> -10%</strong></div>
            <div class="span1">&nbsp;</div>
            <div class="span3"><a href="#" ui-id="revoke-company-members" ui-data="{{_id}}">Revogar todos</a></div>
        </div>
    </div>
</script>

<script id="members-user" type="text/html">
    <div class="container" ui-id="row">
        <div class="row">
            <div class="span2 pull-right" style="text-indent:25px">{{name}}</div>
            <div class="span2">{{email}}</div>
            <div class="span2 admin-members-date">{{active_timeago}}</div>
            <div class="span2"><i class="x-icon-iphone"></i> {{phoneNumber}}</div>
            <div class="span1">&nbsp;</div>
            <div class="span3">
                <a href="#" ui-id="revoke-member-access" ui-data="{{_id}}">Revogar</a>
                <a href="#" ui-id="reset-password" ui-data="{{_id}}" style="padding-left:3px">Reset palavra chave</a>
            </div>
        </div>
    </div>
</script>

<script id="members-sorted-by-name" type="text/html">
    <div class="container admin-content" ui-id="content">
        <div class="row">
            <div class="span3 pull-right" style="text-indent:25px"><strong>{{name}}</strong> ({{company}}) </div>
            <div class="span2">{{email}}</div>
            <div class="span2 admin-members-date">{{active_timeago}}</div>
            <div class="span1">{{phoneNumber}}</div>
            <div class="span1">&nbsp;</div>
            <div class="span3">
                <a href="#">Revogar</a>
                <a href="#" style="padding-left:3px">Reset palavra chave</a>
            </div>
        </div>
    </div>
</script>
