@()


<script id="box-widget" type="text/html">
    <div class="container" id="{{=id}}-container">
        <div class="row">
            <div class="span2"><i class="toggle collapse" id="{{=id}}-toggle"></i><!-- Toggle --> </div>
            <div class="span11" id="{{=id}}-header"> <!-- header text --></div>
        </div>
        <!-- body -->
    </div>
</script>

<script id="garage-members-header" type="text/html">
    <div class="container">
        <div class="row">
            <div class="span4">Aderentes (20 empresas, 1200 utilizadores)</div>
            <div class="span1">&nbsp;</div>
            <div class="span2">Ordenar por nome</div>
            <div class="span2">Ordenar por empresa</div>
            <div class="span3">search thing</div>
        </div>
    </div>
</script>

<script id="garage-row" type="text/html">
    <div class="container" style="margin-left:15px">
        <div class="row">
            <div class="span2">
                <div><i class="toggle collapse"></i><strong style="padding-left:5px">{{ company }}</strong></div>
            </div>
            <div class="span4">{{street}}</div>
            <div class="span1">{{phoneNumber}}</div>
            <div class="span1">10</div>
            <div class="span4"><a href="#">Revogar todos</a></div>
        </div>
    </div>
</script>

<script id="garage-user" type="text/html">
    <div class="container line-marker admin-members-user-row">
        <div class="row">
            <div class="span2 pull-right" style="text-indent:25px">{{name}}</div>
            <div class="span2">{{email}}</div>
            <div class="span2">{{activeDate}}fasdfasdf</div>
            <div class="span1">{{phoneNumber}}</div>
            <div class="span1">&nbsp;</div>
            <div class="span4">
                <a href="#">Revogar</a>
                <a href="#" style="padding-left:3px">Reset palavra chave</a>
            </div>
        </div>
    </div>
</script>


<script id="member-tab" type="text/html">
    <div class="container">
        <div class="row">
            <div class="span12"><h1>{{title}}</h1></div>
        </div>
    </div>
</script>