[class^="x-icon-"],
[class*=" x-icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../images/x-icons.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

[class^="x-icon-"]:last-child,
[class*=" x-icon-"]:last-child {
  *margin-left: 0;
}


.x-icon-glass{ background-position: 0 0; width: 14px; height: 14px; }
.x-icon-leaf{ background-position: 0 -24px; width: 14px; height: 15px; }
.x-icon-dog{ background-position: 0 -49px; width: 16px; height: 15px; }
.x-icon-user{ background-position: 0 -74px; width: 14px; height: 13px; }
.x-icon-girl{ background-position: 0 -97px; width: 13px; height: 13px; }
.x-icon-car{ background-position: 0 -120px; width: 16px; height: 13px; }
.x-icon-user_add{ background-position: 0 -143px; width: 17px; height: 13px; }
.x-icon-user_remove{ background-position: 0 -166px; width: 16px; height: 13px; }
.x-icon-film{ background-position: 0 -189px; width: 13px; height: 16px; }
.x-icon-magic{ background-position: 0 -215px; width: 14px; height: 14px; }
.x-icon-envelope{ background-position: 0 -239px; width: 14px; height: 10px; }
.x-icon-camera{ background-position: 0 -259px; width: 16px; height: 12px; }
.x-icon-heart{ background-position: 0 -281px; width: 14px; height: 13px; }
.x-icon-beach_umbrella{ background-position: 0 -304px; width: 15px; height: 15px; }
.x-icon-train{ background-position: 0 -329px; width: 12px; height: 16px; }
.x-icon-print{ background-position: 0 -355px; width: 14px; height: 14px; }
.x-icon-bin{ background-position: 0 -379px; width: 12px; height: 17px; }
.x-icon-music{ background-position: 0 -406px; width: 13px; height: 15px; }
.x-icon-note{ background-position: 0 -431px; width: 11px; height: 15px; }
.x-icon-cogwheel{ background-position: 0 -456px; width: 14px; height: 14px; }
.x-icon-home{ background-position: 0 -480px; width: 16px; height: 16px; }
.x-icon-snowflake{ background-position: 0 -506px; width: 17px; height: 17px; }
.x-icon-fire{ background-position: 0 -533px; width: 12px; height: 16px; }
.x-icon-cogwheels{ background-position: 0 -559px; width: 16px; height: 16px; }
.x-icon-parents{ background-position: 0 -585px; width: 19px; height: 13px; }
.x-icon-binoculars{ background-position: 0 -608px; width: 14px; height: 14px; }
.x-icon-road{ background-position: 0 -632px; width: 17px; height: 14px; }
.x-icon-search{ background-position: 0 -656px; width: 14px; height: 14px; }
.x-icon-cars{ background-position: 0 -680px; width: 22px; height: 15px; }
.x-icon-notes_2{ background-position: 0 -705px; width: 12px; height: 16px; }
.x-icon-pencil{ background-position: 0 -731px; width: 15px; height: 15px; }
.x-icon-bus{ background-position: 0 -756px; width: 19px; height: 15px; }
.x-icon-wifi_alt{ background-position: 0 -781px; width: 16px; height: 16px; }
.x-icon-luggage{ background-position: 0 -807px; width: 12px; height: 16px; }
.x-icon-old_man{ background-position: 0 -833px; width: 14px; height: 14px; }
.x-icon-woman{ background-position: 0 -857px; width: 13px; height: 13px; }
.x-icon-file{ background-position: 0 -880px; width: 11px; height: 14px; }
.x-icon-credit{ background-position: 0 -904px; width: 16px; height: 14px; }
.x-icon-airplane{ background-position: 0 -928px; width: 14px; height: 15px; }
.x-icon-notes{ background-position: 0 -953px; width: 12px; height: 15px; }
.x-icon-stats{ background-position: 0 -978px; width: 16px; height: 15px; }
.x-icon-charts{ background-position: 0 -1003px; width: 16px; height: 14px; }
.x-icon-pie_chart{ background-position: 0 -1027px; width: 16px; height: 15px; }
.x-icon-group{ background-position: 0 -1052px; width: 21px; height: 13px; }
.x-icon-keys{ background-position: 0 -1075px; width: 14px; height: 16px; }
.x-icon-calendar{ background-position: 0 -1101px; width: 14px; height: 15px; }
.x-icon-router{ background-position: 0 -1126px; width: 16px; height: 16px; }
.x-icon-camera_small{ background-position: 0 -1152px; width: 13px; height: 14px; }
.x-icon-dislikes{ background-position: 0 -1176px; width: 16px; height: 14px; }
.x-icon-star{ background-position: 0 -1200px; width: 15px; height: 14px; }
.x-icon-link{ background-position: 0 -1224px; width: 13px; height: 14px; }
.x-icon-eye_open{ background-position: 0 -1248px; width: 19px; height: 10px; }
.x-icon-eye_close{ background-position: 0 -1268px; width: 19px; height: 14px; }
.x-icon-alarm{ background-position: 0 -1292px; width: 17px; height: 16px; }
.x-icon-clock{ background-position: 0 -1318px; width: 14px; height: 14px; }
.x-icon-stopwatch{ background-position: 0 -1342px; width: 14px; height: 16px; }
.x-icon-projector{ background-position: 0 -1368px; width: 17px; height: 15px; }
.x-icon-history{ background-position: 0 -1393px; width: 15px; height: 16px; }
.x-icon-truck{ background-position: 0 -1419px; width: 19px; height: 16px; }
.x-icon-cargo{ background-position: 0 -1445px; width: 15px; height: 16px; }
.x-icon-compass{ background-position: 0 -1471px; width: 14px; height: 14px; }
.x-icon-keynote{ background-position: 0 -1495px; width: 12px; height: 18px; }
.x-icon-attach{ background-position: 0 -1523px; width: 16px; height: 14px; }
.x-icon-power{ background-position: 0 -1547px; width: 13px; height: 14px; }
.x-icon-lightbulb{ background-position: 0 -1571px; width: 12px; height: 16px; }
.x-icon-tag{ background-position: 0 -1597px; width: 14px; height: 14px; }
.x-icon-tags{ background-position: 0 -1621px; width: 18px; height: 14px; }
.x-icon-cleaning{ background-position: 0 -1645px; width: 14px; height: 15px; }
.x-icon-ruller{ background-position: 0 -1670px; width: 16px; height: 8px; }
.x-icon-gift{ background-position: 0 -1688px; width: 14px; height: 15px; }
.x-icon-umbrella{ background-position: 0 -1713px; width: 16px; height: 17px; }
.x-icon-book{ background-position: 0 -1740px; width: 13px; height: 14px; }
.x-icon-bookmark{ background-position: 0 -1764px; width: 10px; height: 14px; }
.x-icon-signal{ background-position: 0 -1788px; width: 19px; height: 14px; }
.x-icon-cup{ background-position: 0 -1812px; width: 13px; height: 14px; }
.x-icon-stroller{ background-position: 0 -1836px; width: 15px; height: 16px; }
.x-icon-headphones{ background-position: 0 -1862px; width: 14px; height: 14px; }
.x-icon-headset{ background-position: 0 -1886px; width: 14px; height: 17px; }
.x-icon-warning_sign{ background-position: 0 -1913px; width: 17px; height: 14px; }
.x-icon-signal{ background-position: 0 -1937px; width: 14px; height: 14px; }
.x-icon-retweet{ background-position: 0 -1961px; width: 18px; height: 9px; }
.x-icon-refresh{ background-position: 0 -1980px; width: 15px; height: 16px; }
.x-icon-roundabout{ background-position: -32px 0; width: 16px; height: 16px; }
.x-icon-random{ background-position: -32px -26px; width: 17px; height: 12px; }
.x-icon-heat{ background-position: -32px -48px; width: 17px; height: 15px; }
.x-icon-repeat{ background-position: -32px -73px; width: 14px; height: 16px; }
.x-icon-display{ background-position: -32px -99px; width: 17px; height: 14px; }
.x-icon-log_book{ background-position: -32px -123px; width: 13px; height: 14px; }
.x-icon-adress_book{ background-position: -32px -147px; width: 13px; height: 14px; }
.x-icon-magnet{ background-position: -32px -171px; width: 13px; height: 14px; }
.x-icon-table{ background-position: -32px -195px; width: 14px; height: 14px; }
.x-icon-adjust{ background-position: -32px -219px; width: 16px; height: 16px; }
.x-icon-tint{ background-position: -32px -245px; width: 14px; height: 16px; }
.x-icon-crop{ background-position: -32px -271px; width: 16px; height: 16px; }
.x-icon-vector_path_square{ background-position: -32px -297px; width: 14px; height: 14px; }
.x-icon-vector_path_circle{ background-position: -32px -321px; width: 14px; height: 14px; }
.x-icon-vector_path_polygon{ background-position: -32px -345px; width: 16px; height: 15px; }
.x-icon-vector_path_line{ background-position: -32px -370px; width: 14px; height: 14px; }
.x-icon-vector_path_curve{ background-position: -32px -394px; width: 14px; height: 14px; }
.x-icon-vector_path_all{ background-position: -32px -418px; width: 14px; height: 14px; }
.x-icon-font{ background-position: -32px -442px; width: 16px; height: 14px; }
.x-icon-italic{ background-position: -32px -466px; width: 8px; height: 14px; }
.x-icon-bold{ background-position: -32px -490px; width: 11px; height: 14px; }
.x-icon-text_underline{ background-position: -32px -514px; width: 12px; height: 14px; }
.x-icon-text_strike{ background-position: -32px -538px; width: 12px; height: 13px; }
.x-icon-text_height{ background-position: -32px -561px; width: 16px; height: 14px; }
.x-icon-text_width{ background-position: -32px -585px; width: 13px; height: 14px; }
.x-icon-text_resize{ background-position: -32px -609px; width: 16px; height: 16px; }
.x-icon-left_indent{ background-position: -32px -635px; width: 14px; height: 13px; }
.x-icon-right_indent{ background-position: -32px -658px; width: 14px; height: 13px; }
.x-icon-align_left{ background-position: -32px -681px; width: 14px; height: 13px; }
.x-icon-align_center{ background-position: -32px -704px; width: 14px; height: 13px; }
.x-icon-align_right{ background-position: -32px -727px; width: 14px; height: 13px; }
.x-icon-justify{ background-position: -32px -750px; width: 14px; height: 13px; }
.x-icon-list{ background-position: -32px -773px; width: 14px; height: 13px; }
.x-icon-text_smaller{ background-position: -32px -796px; width: 13px; height: 10px; }
.x-icon-text_bigger{ background-position: -32px -816px; width: 14px; height: 13px; }
.x-icon-embed{ background-position: -32px -839px; width: 18px; height: 8px; }
.x-icon-embed_close{ background-position: -32px -857px; width: 18px; height: 14px; }
.x-icon-adjust{ background-position: -32px -881px; width: 14px; height: 14px; }
.x-icon-message_full{ background-position: -32px -905px; width: 14px; height: 17px; }
.x-icon-message_empty{ background-position: -32px -932px; width: 14px; height: 17px; }
.x-icon-message_in{ background-position: -32px -959px; width: 14px; height: 17px; }
.x-icon-message_out{ background-position: -32px -986px; width: 14px; height: 17px; }
.x-icon-message_plus{ background-position: -32px -1013px; width: 17px; height: 14px; }
.x-icon-message_minus{ background-position: -32px -1037px; width: 17px; height: 14px; }
.x-icon-message_ban{ background-position: -32px -1061px; width: 17px; height: 14px; }
.x-icon-message_flag{ background-position: -32px -1085px; width: 16px; height: 14px; }
.x-icon-message_lock{ background-position: -32px -1109px; width: 17px; height: 14px; }
.x-icon-message_new{ background-position: -32px -1133px; width: 17px; height: 13px; }
.x-icon-inbox{ background-position: -32px -1156px; width: 14px; height: 14px; }
.x-icon-inbox_plus{ background-position: -32px -1180px; width: 16px; height: 16px; }
.x-icon-inbox_minus{ background-position: -32px -1206px; width: 16px; height: 16px; }
.x-icon-inbox_lock{ background-position: -32px -1232px; width: 16px; height: 17px; }
.x-icon-inbox_in{ background-position: -32px -1259px; width: 14px; height: 16px; }
.x-icon-inbox_out{ background-position: -32px -1285px; width: 14px; height: 16px; }
.x-icon-computer_locked{ background-position: -32px -1311px; width: 17px; height: 14px; }
.x-icon-computer_service{ background-position: -32px -1335px; width: 17px; height: 14px; }
.x-icon-computer_proces{ background-position: -32px -1359px; width: 17px; height: 14px; }
.x-icon-phone{ background-position: -32px -1383px; width: 9px; height: 15px; }
.x-icon-database_lock{ background-position: -32px -1408px; width: 16px; height: 17px; }
.x-icon-database_plus{ background-position: -32px -1435px; width: 16px; height: 16px; }
.x-icon-database_minus{ background-position: -32px -1461px; width: 16px; height: 16px; }
.x-icon-database_ban{ background-position: -32px -1487px; width: 16px; height: 16px; }
.x-icon-folder_open{ background-position: -32px -1513px; width: 18px; height: 13px; }
.x-icon-folder_plus{ background-position: -32px -1536px; width: 17px; height: 15px; }
.x-icon-folder_minus{ background-position: -32px -1561px; width: 17px; height: 15px; }
.x-icon-folder_lock{ background-position: -32px -1586px; width: 17px; height: 16px; }
.x-icon-folder_flag{ background-position: -32px -1612px; width: 16px; height: 15px; }
.x-icon-folder_new{ background-position: -32px -1637px; width: 17px; height: 14px; }
.x-icon-check{ background-position: -32px -1661px; width: 13px; height: 11px; }
.x-icon-edit{ background-position: -32px -1682px; width: 14px; height: 13px; }
.x-icon-new_window{ background-position: -32px -1705px; width: 16px; height: 13px; }
.x-icon-more_windows{ background-position: -32px -1728px; width: 14px; height: 14px; }
.x-icon-show_big_thumbnails{ background-position: -32px -1752px; width: 13px; height: 13px; }
.x-icon-show_thumbnails{ background-position: -32px -1775px; width: 13px; height: 13px; }
.x-icon-show_thumbnails_with_lines{ background-position: -32px -1798px; width: 14px; height: 9px; }
.x-icon-show_lines{ background-position: -32px -1817px; width: 14px; height: 9px; }
.x-icon-playlist{ background-position: -32px -1836px; width: 17px; height: 14px; }
.x-icon-picture{ background-position: -32px -1860px; width: 14px; height: 12px; }
.x-icon-imac{ background-position: -32px -1882px; width: 16px; height: 13px; }
.x-icon-macbook{ background-position: -32px -1905px; width: 17px; height: 9px; }
.x-icon-ipad{ background-position: -32px -1924px; width: 12px; height: 16px; }
.x-icon-iphone{ background-position: -32px -1950px; width: 8px; height: 14px; }
.x-icon-iphone_transfer{ background-position: -32px -1974px; width: 17px; height: 14px; }
.x-icon-iphone_exchange{ background-position: -64px 0; width: 17px; height: 14px; }
.x-icon-ipod{ background-position: -64px -24px; width: 8px; height: 13px; }
.x-icon-ipod_shuffle{ background-position: -64px -47px; width: 9px; height: 8px; }
.x-icon-ear_plugs{ background-position: -64px -65px; width: 12px; height: 14px; }
.x-icon-albums{ background-position: -64px -89px; width: 17px; height: 11px; }
.x-icon-step_backward{ background-position: -64px -110px; width: 8px; height: 11px; }
.x-icon-fast_backward{ background-position: -64px -131px; width: 15px; height: 11px; }
.x-icon-rewind{ background-position: -64px -152px; width: 14px; height: 11px; }
.x-icon-play{ background-position: -64px -173px; width: 10px; height: 11px; }
.x-icon-pause{ background-position: -64px -194px; width: 6px; height: 10px; }
.x-icon-stop{ background-position: -64px -214px; width: 8px; height: 8px; }
.x-icon-forward{ background-position: -64px -232px; width: 14px; height: 11px; }
.x-icon-fast_forward{ background-position: -64px -253px; width: 15px; height: 11px; }
.x-icon-step_forward{ background-position: -64px -274px; width: 8px; height: 11px; }
.x-icon-eject{ background-position: -64px -295px; width: 11px; height: 10px; }
.x-icon-facetime_video{ background-position: -64px -315px; width: 14px; height: 10px; }
.x-icon-download_alt{ background-position: -64px -335px; width: 14px; height: 14px; }
.x-icon-mute{ background-position: -64px -359px; width: 13px; height: 10px; }
.x-icon-volume_down{ background-position: -64px -379px; width: 10px; height: 10px; }
.x-icon-volume_up{ background-position: -64px -399px; width: 14px; height: 16px; }
.x-icon-screenshot{ background-position: -64px -425px; width: 16px; height: 16px; }
.x-icon-move{ background-position: -64px -451px; width: 14px; height: 14px; }
.x-icon-more{ background-position: -64px -475px; width: 13px; height: 4px; }
.x-icon-brightness_reduce{ background-position: -64px -489px; width: 12px; height: 12px; }
.x-icon-brightness_increase{ background-position: -64px -511px; width: 14px; height: 14px; }
.x-icon-circle_plus{ background-position: -64px -535px; width: 16px; height: 16px; }
.x-icon-circle_minus{ background-position: -64px -561px; width: 16px; height: 16px; }
.x-icon-circle_remove{ background-position: -64px -587px; width: 16px; height: 16px; }
.x-icon-circle_ok{ background-position: -64px -613px; width: 16px; height: 16px; }
.x-icon-circle_question_mark{ background-position: -64px -639px; width: 16px; height: 16px; }
.x-icon-circle_info{ background-position: -64px -665px; width: 16px; height: 16px; }
.x-icon-circle_exclamation_mark{ background-position: -64px -691px; width: 16px; height: 16px; }
.x-icon-remove{ background-position: -64px -717px; width: 16px; height: 16px; }
.x-icon-ok{ background-position: -64px -743px; width: 16px; height: 16px; }
.x-icon-ban{ background-position: -64px -769px; width: 16px; height: 16px; }
.x-icon-download{ background-position: -64px -795px; width: 16px; height: 16px; }
.x-icon-upload{ background-position: -64px -821px; width: 16px; height: 16px; }
.x-icon-shopping_cart{ background-position: -64px -847px; width: 16px; height: 14px; }
.x-icon-lock{ background-position: -64px -871px; width: 13px; height: 16px; }
.x-icon-unlock{ background-position: -64px -897px; width: 13px; height: 16px; }
.x-icon-electricity{ background-position: -64px -923px; width: 7px; height: 14px; }
.x-icon-ok_2{ background-position: -64px -947px; width: 15px; height: 11px; }
.x-icon-remove_2{ background-position: -64px -968px; width: 11px; height: 11px; }
.x-icon-cart_out{ background-position: -64px -989px; width: 16px; height: 15px; }
.x-icon-cart_in{ background-position: -64px -1014px; width: 16px; height: 14px; }
.x-icon-left_arrow{ background-position: -64px -1038px; width: 12px; height: 11px; }
.x-icon-right_arrow{ background-position: -64px -1059px; width: 12px; height: 11px; }
.x-icon-down_arrow{ background-position: -64px -1080px; width: 11px; height: 12px; }
.x-icon-up_arrow{ background-position: -64px -1102px; width: 11px; height: 12px; }
.x-icon-resize_small{ background-position: -64px -1124px; width: 14px; height: 14px; }
.x-icon-resize_full{ background-position: -64px -1148px; width: 14px; height: 14px; }
.x-icon-circle_arrow_left{ background-position: -64px -1172px; width: 16px; height: 16px; }
.x-icon-circle_arrow_right{ background-position: -64px -1198px; width: 16px; height: 16px; }
.x-icon-circle_arrow_top{ background-position: -64px -1224px; width: 16px; height: 16px; }
.x-icon-circle_arrow_down{ background-position: -64px -1250px; width: 16px; height: 16px; }
.x-icon-play_button{ background-position: -64px -1276px; width: 16px; height: 16px; }
.x-icon-unshare{ background-position: -64px -1302px; width: 14px; height: 11px; }
.x-icon-share{ background-position: -64px -1323px; width: 14px; height: 11px; }
.x-icon-thin_right_arrow{ background-position: -64px -1344px; width: 9px; height: 13px; }
.x-icon-thin_arrow_left{ background-position: -64px -1367px; width: 9px; height: 13px; }
.x-icon-bluetooth{ background-position: -64px -1390px; width: 8px; height: 14px; }
.x-icon-euro{ background-position: -64px -1414px; width: 13px; height: 14px; }
.x-icon-usd{ background-position: -64px -1438px; width: 10px; height: 16px; }
.x-icon-bp{ background-position: -64px -1464px; width: 10px; height: 14px; }
.x-icon-retweet_2{ background-position: -64px -1488px; width: 20px; height: 13px; }
.x-icon-moon{ background-position: -64px -1511px; width: 13px; height: 15px; }
.x-icon-sun{ background-position: -64px -1536px; width: 14px; height: 14px; }
.x-icon-cloud{ background-position: -64px -1560px; width: 16px; height: 10px; }
.x-icon-direction{ background-position: -64px -1580px; width: 16px; height: 16px; }
.x-icon-brush{ background-position: -64px -1606px; width: 15px; height: 14px; }
.x-icon-pen{ background-position: -64px -1630px; width: 14px; height: 14px; }
.x-icon-zoom_in{ background-position: -64px -1654px; width: 15px; height: 15px; }
.x-icon-zoom_out{ background-position: -64px -1679px; width: 15px; height: 15px; }
.x-icon-pin{ background-position: -64px -1704px; width: 6px; height: 15px; }
.x-icon-riflescope{ background-position: -64px -1729px; width: 15px; height: 15px; }
.x-icon-rotation_lock{ background-position: -64px -1754px; width: 16px; height: 14px; }
.x-icon-flash{ background-position: -64px -1778px; width: 8px; height: 15px; }
.x-icon-google_maps{ background-position: -64px -1803px; width: 9px; height: 14px; }
.x-icon-anchor{ background-position: -64px -1827px; width: 14px; height: 15px; }
.x-icon-conversation{ background-position: -64px -1852px; width: 15px; height: 11px; }
.x-icon-chat{ background-position: -64px -1873px; width: 14px; height: 11px; }
.x-icon-male{ background-position: -64px -1894px; width: 13px; height: 13px; }
.x-icon-female{ background-position: -64px -1917px; width: 10px; height: 16px; }
.x-icon-asterisk{ background-position: -64px -1943px; width: 12px; height: 12px; }
.x-icon-divide{ background-position: -64px -1965px; width: 11px; height: 10px; }
.x-icon-snorkel_diving{ background-position: -64px -1985px; width: 16px; height: 15px; }
.x-icon-scuba_diving{ background-position: -96px 0; width: 16px; height: 14px; }
.x-icon-oxygen_bottle{ background-position: -96px -24px; width: 13px; height: 16px; }
.x-icon-fins{ background-position: -96px -50px; width: 19px; height: 16px; }
.x-icon-fishes{ background-position: -96px -76px; width: 17px; height: 18px; }
.x-icon-boat{ background-position: -96px -104px; width: 14px; height: 14px; }
.x-icon-delete_point{ background-position: -96px -128px; width: 16px; height: 10px; }
.x-icon-sheriffs_-star{ background-position: -96px -148px; width: 14px; height: 16px; }
.x-icon-qrcode{ background-position: -96px -174px; width: 14px; height: 14px; }
.x-icon-barcode{ background-position: -96px -198px; width: 14px; height: 14px; }
.x-icon-pool{ background-position: -96px -222px; width: 14px; height: 14px; }
.x-icon-buoy{ background-position: -96px -246px; width: 14px; height: 14px; }
.x-icon-spade{ background-position: -96px -270px; width: 14px; height: 14px; }
.x-icon-bank{ background-position: -96px -294px; width: 14px; height: 14px; }
.x-icon-vcard{ background-position: -96px -318px; width: 13px; height: 14px; }
.x-icon-electrical_plug{ background-position: -96px -342px; width: 11px; height: 15px; }
.x-icon-flag{ background-position: -96px -367px; width: 13px; height: 16px; }
.x-icon-credit_card{ background-position: -96px -393px; width: 16px; height: 11px; }
.x-icon-keyboard_wireless{ background-position: -96px -414px; width: 16px; height: 11px; }
.x-icon-keyboard_wired{ background-position: -96px -435px; width: 16px; height: 15px; }
.x-icon-shield{ background-position: -96px -460px; width: 13px; height: 14px; }
.x-icon-ring{ background-position: -96px -484px; width: 13px; height: 14px; }
.x-icon-cake{ background-position: -96px -508px; width: 13px; height: 14px; }
.x-icon-drink{ background-position: -96px -532px; width: 14px; height: 14px; }
.x-icon-beer{ background-position: -96px -556px; width: 14px; height: 14px; }
.x-icon-fast_food{ background-position: -96px -580px; width: 17px; height: 14px; }
.x-icon-cutlery{ background-position: -96px -604px; width: 8px; height: 14px; }
.x-icon-pizza{ background-position: -96px -628px; width: 16px; height: 17px; }
.x-icon-birthday_cake{ background-position: -96px -655px; width: 16px; height: 17px; }
.x-icon-tablet{ background-position: -96px -682px; width: 15px; height: 15px; }
.x-icon-settings{ background-position: -96px -707px; width: 14px; height: 14px; }
.x-icon-bullets{ background-position: -96px -731px; width: 16px; height: 14px; }
.x-icon-cardio{ background-position: -96px -755px; width: 15px; height: 16px; }
.x-icon-t-shirt{ background-position: -96px -781px; width: 17px; height: 14px; }
.x-icon-pants{ background-position: -96px -805px; width: 11px; height: 14px; }
.x-icon-sweater{ background-position: -96px -829px; width: 17px; height: 14px; }
.x-icon-fabric{ background-position: -96px -853px; width: 16px; height: 13px; }
.x-icon-leather{ background-position: -96px -876px; width: 14px; height: 14px; }
.x-icon-scissors{ background-position: -96px -900px; width: 14px; height: 16px; }
.x-icon-podium{ background-position: -96px -926px; width: 17px; height: 13px; }
.x-icon-skull{ background-position: -96px -949px; width: 13px; height: 14px; }
.x-icon-celebration{ background-position: -96px -973px; width: 14px; height: 15px; }
.x-icon-tea_kettle{ background-position: -96px -998px; width: 16px; height: 14px; }
.x-icon-french_press{ background-position: -96px -1022px; width: 14px; height: 15px; }
.x-icon-coffe_cup{ background-position: -96px -1047px; width: 15px; height: 11px; }
.x-icon-pot{ background-position: -96px -1068px; width: 16px; height: 13px; }
.x-icon-grater{ background-position: -96px -1091px; width: 11px; height: 14px; }
.x-icon-kettle{ background-position: -96px -1115px; width: 14px; height: 14px; }
.x-icon-hospital{ background-position: -96px -1139px; width: 14px; height: 14px; }
.x-icon-hospital_h{ background-position: -96px -1163px; width: 14px; height: 14px; }
.x-icon-microphone{ background-position: -96px -1187px; width: 10px; height: 14px; }
.x-icon-webcam{ background-position: -96px -1211px; width: 11px; height: 14px; }
.x-icon-temple_christianity_church{ background-position: -96px -1235px; width: 14px; height: 15px; }
.x-icon-temple_islam{ background-position: -96px -1260px; width: 15px; height: 14px; }
.x-icon-temple_hindu{ background-position: -96px -1284px; width: 14px; height: 14px; }
.x-icon-temple_buddhist{ background-position: -96px -1308px; width: 17px; height: 13px; }
.x-icon-electrical_socket_eu{ background-position: -96px -1331px; width: 14px; height: 14px; }
.x-icon-electrical_socket_us{ background-position: -96px -1355px; width: 14px; height: 14px; }
.x-icon-bomb{ background-position: -96px -1379px; width: 16px; height: 16px; }
.x-icon-comments{ background-position: -96px -1405px; width: 14px; height: 14px; }
.x-icon-flower{ background-position: -96px -1429px; width: 11px; height: 15px; }
.x-icon-baseball{ background-position: -96px -1454px; width: 15px; height: 16px; }
.x-icon-rugby{ background-position: -96px -1480px; width: 14px; height: 14px; }
.x-icon-ax{ background-position: -96px -1504px; width: 16px; height: 15px; }
.x-icon-table_tennis{ background-position: -96px -1529px; width: 14px; height: 14px; }
.x-icon-bowling{ background-position: -96px -1553px; width: 14px; height: 14px; }
.x-icon-tree_conifer{ background-position: -96px -1577px; width: 13px; height: 14px; }
.x-icon-tree_deciduous{ background-position: -96px -1601px; width: 12px; height: 15px; }
.x-icon-more-items{ background-position: -96px -1626px; width: 13px; height: 14px; }
.x-icon-sort{ background-position: -96px -1650px; width: 15px; height: 15px; }
.x-icon-filter{ background-position: -96px -1675px; width: 12px; height: 14px; }
.x-icon-gamepad{ background-position: -96px -1699px; width: 16px; height: 11px; }
.x-icon-playing_dices{ background-position: -96px -1720px; width: 16px; height: 14px; }
.x-icon-calculator{ background-position: -96px -1744px; width: 13px; height: 14px; }
.x-icon-tie{ background-position: -96px -1768px; width: 7px; height: 16px; }
.x-icon-wallet{ background-position: -96px -1794px; width: 15px; height: 12px; }
.x-icon-share{ background-position: -96px -1816px; width: 13px; height: 13px; }
.x-icon-sampler{ background-position: -96px -1839px; width: 16px; height: 13px; }
.x-icon-piano{ background-position: -96px -1862px; width: 14px; height: 14px; }
.x-icon-web_browser{ background-position: -96px -1886px; width: 14px; height: 13px; }
.x-icon-blog{ background-position: -96px -1909px; width: 13px; height: 14px; }
.x-icon-dashboard{ background-position: -96px -1933px; width: 14px; height: 14px; }
.x-icon-certificate{ background-position: -96px -1957px; width: 10px; height: 15px; }
.x-icon-bell{ background-position: -96px -1982px; width: 14px; height: 14px; }
.x-icon-candle{ background-position: -128px 0; width: 12px; height: 15px; }
.x-icon-pin_classic{ background-position: -128px -25px; width: 14px; height: 14px; }
.x-icon-iphone_shake{ background-position: -128px -49px; width: 14px; height: 14px; }
.x-icon-pin_flag{ background-position: -128px -73px; width: 18px; height: 13px; }
.x-icon-turtle{ background-position: -128px -96px; width: 17px; height: 10px; }
.x-icon-rabbit{ background-position: -128px -116px; width: 16px; height: 13px; }
.x-icon-globe{ background-position: -128px -139px; width: 14px; height: 14px; }
.x-icon-briefcase{ background-position: -128px -163px; width: 14px; height: 13px; }
.x-icon-hdd{ background-position: -128px -186px; width: 14px; height: 13px; }
.x-icon-thumbs_up{ background-position: -128px -209px; width: 14px; height: 13px; }
.x-icon-thumbs_down{ background-position: -128px -232px; width: 14px; height: 13px; }
.x-icon-hand_right{ background-position: -128px -255px; width: 16px; height: 11px; }
.x-icon-hand_left{ background-position: -128px -276px; width: 16px; height: 11px; }
.x-icon-hand_up{ background-position: -128px -297px; width: 11px; height: 16px; }
.x-icon-hand_down{ background-position: -128px -323px; width: 11px; height: 16px; }
.x-icon-fullscreen{ background-position: -128px -349px; width: 14px; height: 14px; }
.x-icon-shopping_bag{ background-position: -128px -373px; width: 14px; height: 16px; }
.x-icon-book_open{ background-position: -128px -399px; width: 15px; height: 14px; }
.x-icon-nameplate{ background-position: -128px -423px; width: 14px; height: 13px; }
.x-icon-nameplate_alt{ background-position: -128px -446px; width: 14px; height: 13px; }
.x-icon-vases{ background-position: -128px -469px; width: 14px; height: 14px; }
.x-icon-announcement{ background-position: -128px -493px; width: 15px; height: 12px; }
.x-icon-dumbbell{ background-position: -128px -515px; width: 16px; height: 10px; }
.x-icon-suitcase{ background-position: -128px -535px; width: 14px; height: 13px; }
.x-icon-file_import{ background-position: -128px -558px; width: 13px; height: 14px; }
.x-icon-file_export{ background-position: -128px -582px; width: 14px; height: 14px; }
.x-icon-pinterest{ background-position: -128px -606px; width: 14px; height: 14px; }
.x-icon-dropbox{ background-position: -128px -630px; width: 14px; height: 14px; }
.x-icon-google_alt{ background-position: -128px -654px; width: 14px; height: 14px; }
.x-icon-jolicloud{ background-position: -128px -678px; width: 14px; height: 14px; }
.x-icon-yahoo{ background-position: -128px -702px; width: 14px; height: 14px; }
.x-icon-blogger{ background-position: -128px -726px; width: 14px; height: 14px; }
.x-icon-picasa{ background-position: -128px -750px; width: 14px; height: 14px; }
.x-icon-amazon{ background-position: -128px -774px; width: 14px; height: 14px; }
.x-icon-tumblr{ background-position: -128px -798px; width: 14px; height: 14px; }
.x-icon-wordpress{ background-position: -128px -822px; width: 14px; height: 14px; }
.x-icon-instapaper{ background-position: -128px -846px; width: 14px; height: 14px; }
.x-icon-evernote{ background-position: -128px -870px; width: 14px; height: 14px; }
.x-icon-xing{ background-position: -128px -894px; width: 14px; height: 14px; }
.x-icon-zootool{ background-position: -128px -918px; width: 14px; height: 14px; }
.x-icon-dribbble{ background-position: -128px -942px; width: 14px; height: 14px; }
.x-icon-deviantart{ background-position: -128px -966px; width: 14px; height: 14px; }
.x-icon-read_it_later{ background-position: -128px -990px; width: 14px; height: 14px; }
.x-icon-linked_in{ background-position: -128px -1014px; width: 14px; height: 14px; }
.x-icon-forrst{ background-position: -128px -1038px; width: 14px; height: 14px; }
.x-icon-pinboard{ background-position: -128px -1062px; width: 14px; height: 14px; }
.x-icon-behance{ background-position: -128px -1086px; width: 14px; height: 14px; }
.x-icon-github{ background-position: -128px -1110px; width: 14px; height: 14px; }
.x-icon-youtube{ background-position: -128px -1134px; width: 14px; height: 14px; }
.x-icon-skitch{ background-position: -128px -1158px; width: 14px; height: 14px; }
.x-icon-4square{ background-position: -128px -1182px; width: 14px; height: 14px; }
.x-icon-quora{ background-position: -128px -1206px; width: 14px; height: 14px; }
.x-icon-google_plus{ background-position: -128px -1230px; width: 14px; height: 14px; }
.x-icon-spootify{ background-position: -128px -1254px; width: 14px; height: 14px; }
.x-icon-stumbleupon{ background-position: -128px -1278px; width: 14px; height: 14px; }
.x-icon-readability{ background-position: -128px -1302px; width: 14px; height: 14px; }
.x-icon-facebook{ background-position: -128px -1326px; width: 14px; height: 14px; }
.x-icon-twitter_t{ background-position: -128px -1350px; width: 14px; height: 14px; }
.x-icon-twitter{ background-position: -128px -1374px; width: 14px; height: 14px; }
.x-icon-buzz{ background-position: -128px -1398px; width: 14px; height: 14px; }
.x-icon-vimeo{ background-position: -128px -1422px; width: 14px; height: 14px; }
.x-icon-flickr{ background-position: -128px -1446px; width: 14px; height: 14px; }
.x-icon-last_fm{ background-position: -128px -1470px; width: 14px; height: 14px; }
.x-icon-rss{ background-position: -128px -1494px; width: 14px; height: 14px; }
.x-icon-skype{ background-position: -128px -1518px; width: 14px; height: 14px; }
.x-icon-e-mail{ background-position: -128px -1542px; width: 14px; height: 14px; }