body
{
	margin-bottom: 0px;
}

div.content-center
{
	text-align: center;
}

div.content-center .row-fluid, div.content-center .row
{
	margin-top: 10px;
}

a.brand {
  float: left;
  display: block;
  font-size: 30px;
  color: #000000;
}

p.headerChallenge
{
  line-height: 27px;
  font-size: 18px;
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;
}

.star-required
{
	color: #FF0000;
	font-size: 11px;
	top:1px;
}

.register-well,
.login-well
{ 
	display: table;
	margin: 0px auto;
	width: 230px;
	min-height: 20px;
	padding: 10px 20px 20px 30px;
	background-color: whiteSmoke;
	border: 1px solid #EEE;
	border: 1px solid rgba(0, 0, 0, 0.05);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.register-well
{
	width: 300px;
}

.register-well input
{
	width: 280px;
}

.register-well .input-small
{
	width: 60px;
}

.register-well .input-medium 
{
	width: 205px;
}

.register-well .form-inline
{
	margin-bottom: 10px;
}

.alert-success
{
	margin-left:20px;
	margin-right:20px;	
}

hr.soften {
	height: 1px;
	margin: 34px 0;
}

/*
footer.container.navbar-fixed-top {
	top: auto;
	bottom: 0;
	padding-top: 60px;
}*/

.ar {
	text-align: right;
    float: right;
}

.formContainer{
	margin: 14px 0 0 0;
}

.formRequiredInstuctions
{
	font-size: 9px;
	font-weight: normal;
  	color: #999999;
}

.pull-top{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-bottom: 0;
}

.pull-bottom{
    right: 0;
    left: 0;
    position: relative;
    margin-top: -92px; /* negative value of footer height */
    height: 92px;
    clear:both;
}

.footer-row{
    padding-left: 20px;
    padding-right: 20px;
    background-color: #333;
    padding-top: 10px;
}

.outerContainer{
    min-height: 100%;
}

.container{
    overflow:auto;
    padding-bottom: 92px;
}

.user-welcome {
    padding: 10px 10px 11px 0px;
}

.socialNetworks{
    color:#F0F0F0;
}



    .result-tire{
        padding-top:5px;
        width:150px;
        margin: 10px;
  		float: left;
    }
    .result-tire .stock {
        float:left;
        font-size:xx-small;
    }
    .result-tire .brand {
        float:right;
        font-size:small;
    }
    .result-tire .price {
        clear:both; /* avoid wrapping around stock and brand */
        float:left;

    }
    .result-tire .measure {
        float:right;
    }
    .result-tire .attributes{
        clear:both;
    }
    .result-tire .order {
        float:right;
    }


