@(showOnlyBottomBar:Boolean=false)
@if(!showOnlyBottomBar){
 <div class="container">
    <!--<p>CENAS</p>
    <p class="pull-right">CENAS</p>
-->
 </div>
}

<div class="bottom-bar">
      <div class="bottombar-inner">
        <div class="container">
		<div class="row-fluid">
		<hr/>
		</div>
          <div class="row-fluid">
            <div class="span10">
              <h3 id="phone">
                Nas redes sociais
              </h3>
              <p>
                F G T
              </p>
            </div>
            <div class="span2 ar" id="elsewhere-msg">
              <h4><a href="#">Envie-nos um email</a></h4>
			  <h4><a href="#">Consulte as FAQ</a></h4>
            </div>
          </div>
        </div>
      </div>
</div>