@(email:String, form: Form[ChangePassword])

@import helper.FieldConstructor
@implicitFieldConstructor = @{ FieldConstructor(helper.bootst.render) }

@layout("Registar no Norpneu"){
@structure.header_login()
}{

@helper.form(routes.Application.changePasswordAction) {

    @if(flash.contains("error")) {
        <div class="alert alert-error">
            <a class="close" data-dismiss="alert">×</a>
            @flash.get("error")
        </div>
    }else{
        <div style="row-fluid">
            <div class="formContainer">
                <div class="login-well">
                    <h3>Por favor defina a sua palavra passe</h3>

                    <p class="formRequiredInstuctions">
                        <small>Campos com <span class="star-required">*</span> são obrigatórios</small>
                    </p>

                    <div class="control-group">
                        <label>Email</label>
                        <div class="controls">
                            <strong>@email</strong>
                        </div>
                    </div>

                    @helper.inputPassword(field=form("password"),
                        args='_label -> "Palavra Passe", 'required -> true)
                    @helper.inputPassword(field=form("confirmPassword"),
                        args='_label -> "Repita a Palavra Passe", 'required -> true)

                    @if(form.hasGlobalErrors) {
                    <div class="alert alert-error">
                        <a class="close" data-dismiss="alert">×</a>
                        @form.globalError.message
                    </div>
                    }
                    <input type="hidden" name="email" value="@email">
                    <button class="btn btn-primary" type="submit">Confirmar</button>
                </div>
            </div>
        </div>
    }
}
}{
@structure.footer_contacts()
}