@(user:User, form:Form[Search])

@import helper.FieldConstructor
@import helper._
@import controllers.routes.javascript._

@implicitFieldConstructor = @{ FieldConstructor(helper.bootst.render) }

@layout("Norpneu Online - "+user.name){
    @structure.header_dashboard(user)
} {
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui-1.8.20.custom.css")">
<div id="main-app">
</div>
}{<br/>}

@templates.global()
<script src="@routes.Assets.at("javascripts/sammy.js")"></script>
<script src="@routes.Assets.at("javascripts/mustache.js")"></script>
<script src="@routes.Assets.at("javascripts/sammy.mustache.js")"></script>
<script src="@routes.Assets.at("javascripts/sammy.json.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery.quicksand.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery-ui-1.8.20.custom.min.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery.masonry.min.js")"></script>
<script src="@routes.Assets.at("javascripts/iCanHaz.js")"></script>
<script src="@routes.Assets.at("javascripts/moment.min.js")"></script>

@if( user.powerUser){
    <!-- import templates -->
    @templates.admin()
    <script src="@routes.Assets.at("javascripts/components/ui.collapsiblelayers.js")"></script>
    <script src="@routes.Assets.at("javascripts/norpneu/admin.js")"></script>
}
<script src="@routes.Assets.at("javascripts/norpneu/dashboard.js")"></script>
