@(title: String)(header:Html)(content: Html)(footer: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/docs.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")">

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/images.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.8.0.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap.js")" type="text/javascript"></script>

        <script src="@routes.Assets.at("javascripts/norpneu/global.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/global/kk.js")" type="text/javascript"></script>
    </head>
    <body>
    <div class="container-fluid">
		@header
    <div class="main">
		<div class="content" id="body">
        	@content
		</div>
    </div>
    <div class="clearfooter"></div>
     </div><!-- /outerContainer -->
	<div class="pull-bottom">
		@footer
	</div>

</body>
</html>
