@(form: Form[User])

@import helper.FieldConstructor
@implicitFieldConstructor = @{ FieldConstructor(helper.bootst.render) }

@layout("Registar no Norpneu"){
  @structure.header_login(false)
}{
  
@helper.form(routes.Application.registerAction) {
<div style="row-fluid">
    <div class="formContainer">
        <div class="register-well">
            <h3>Registar no Norpneu</h3>

            <p class="formRequiredInstuctions">
                <small>Campos com <span class="star-required">*</span> são obrigatórios</small>
            </p>
            @helper.inputText(field=form("email"),
                args='_label -> "Utilizador (Email)", 'required -> true, 'placeholder->"ex: ana.reis@gmail.com")
            @helper.inputText(field=form("name"),
                args='_label -> "Nome", 'required -> true, 'placeholder->"Primeiro e último ex: Ana Reis")
            @helper.inputText(field=form("company"),
                args='_label -> "Representação", 'required -> true, 'placeholder->"Empresa que representa")
            @helper.inputText(field=form("phoneNumber"),
                args='_label -> "Contacto telefónico", 'required ->true,'placeholder->"Telefone fixo ou telemóvel")
			<div class="form-inline">
            	@helper.inputText(field=form("street"),
                	args='_label -> "Morada", 'placeholder->"Rua, Nº, Andar, Porta")

				<input type="text" id="postalCode" name="postalCode" class="input-small" placeholder="C. Postal">
				<input type="text" id="city" name="city" class="input-medium" placeholder="Localidade">
			</div>

            @if(form.hasGlobalErrors) {
            <div class="alert alert-error">
                <a class="close" data-dismiss="alert">×</a>
                @form.globalError.message
            </div>
            }
            <button class="btn btn-primary" type="submit">Registar</button><span>
           	<a href="@routes.Application.login" class="btn btn-secondary">Cancelar</a>
           	</span>
        </div>
    </div>
</div>
}
}{
   @structure.footer_contacts()
}